* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.circle {
  border-radius: 50%;
  position: fixed;
  /* border: 1px solid; */
}

.first-circle {
  border: 2px solid red;
  background-color: rgba(251, 226, 12, 0.7);
}

.second-circle {
  border: 2px solid green;
  background-color: rgba(246, 134, 209, 0.7);
}


