body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.main-container {
    text-align: center;
    /* border: 1px solid #ccc; */
    padding: 5px;
    border-radius: 5px;
    margin-block-start: 10px;
}

.input-container {
    margin: 10px 0;
}

input {
    width: 70%;
    padding: 5px;
    margin-right: 10px;
}

#addBtn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    width: 40px;
    height: 30px;
}

.removeBtn{
    background-color: white;
    color: red;
    border: none;
    cursor: pointer;
    padding: 2px;
    width: 50px;
    height: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 9px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}


