body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(29, 35, 51);
  color: white;
  display: flex;
  justify-content: center;
 /* align-items: center; */
}

main {
  border: 1px solid white;
  text-align: center;
  width: 48vw;
  height: 30vh;
}

p {
  padding: 2rem;
  /* text-align: left; */
  font-size: large;
}
