*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(45deg, #FF2400, #39FF14); */
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
  /* background: linear-gradient(45deg, #f8eeec, #e7decc); */
  color: #ffffff;
}

h1, ul, form {
  margin: 10px;
}

.main-container {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  /* background-color: #fec5e5; */
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  width: 400px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
  width: 350px;
}

@media screen and (min-width: 274px) and (max-width: 408px){
  .main-container {
    background-color: #DCDCDC;
    color: #0a0a0a;
    width: 300px;
    height: 55vh;
  }
  .main-container h1 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  input{
    width: 200px;
  }
}