*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(145deg, #432371, #f5a36c);
  color: #ffffff;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #ffffff;
  font-weight: 900;
}

.timer {
  border: 3px white solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2px 13px;
  padding: 7px;
}

/* @media screen and (max-width: 1024px) {
  .title {
    font-size: 14px;
  }
  .countdown {
    flex-wrap: wrap;
  }
  .timer{
    max-height: 150px;
    margin: 20px;
  }
} */

@media screen and (max-width: 274px) {
  .title {
    font-size: 14px;
  }
  .countdown {
    flex-wrap: wrap;
  }
  .timer{
    max-height: 150px;
    margin: 20px;
  }
}

@media screen and (min-width: 274px) and (max-width: 400px){
  .title {
    font-size: 20px;
  }
  .countdown {
    flex-wrap: wrap;
  }
  .timer{
    max-height: 190px;
    margin: 25px;
  }
}


